body {
    font-family: Arial, sans-serif;
    background: #d6dde4;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: #000000; /* azul principal */
  text-decoration: underline;
  text-underline-offset: 6px;
  }
  
ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  text-align: center;
}
  
li {
  background: #ffffff;
  display: inline-block;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 5px #C8D2E0;
  min-width: 220px;
}
  

  form {
    max-width: 350px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;

  border: 1px solid #3A7BD5; /* Azul da paleta */
  box-shadow:
    0 3px 10px rgba(58, 123, 213, 0.2),
    0 0 0 4px rgba(58, 123, 213, 0.05);
  }
  
  label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #2F3640;
  }
  
 input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #C8D2E0;
  border-radius: 6px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
  
 input[type="submit"],
button[type="submit"],
button {
  background-color: #3A7BD5;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
}
  input[type="submit"]::after,
button::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: 0.25s;
}
input[type="submit"]:hover::after,
button:hover {
  background-color: #123b74;
}
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
input[type="number"] {
  -moz-appearance: textfield;
}

li button {
  margin-left: 8px;
  padding: 6px 10px;
}
  